openapi: 3.2.0
info:
  title: Artifact Hub Availability checks API
  description: Find, install and publish Cloud Native packages
  version: 1.22.0
  contact:
    name: Artifact Hub support
    url: https://cloud-native.slack.com/channels/artifact-hub
servers:
- url: https://artifacthub.io/api/v1
  description: Artifact Hub production API
tags:
- name: Availability checks
  description: ''
paths:
  /check-availability/{resourceKind}:
    head:
      tags:
      - Availability checks
      summary: Check the availability of a given value for the provided resource kind
      description: Check the availability of a given value for the provided resource kind
      operationId: checkAvailability
      parameters:
      - $ref: '#/components/parameters/ResourceKindNameParam'
      - in: query
        name: v
        schema:
          type: string
        required: true
        description: Value to check
      responses:
        '204':
          description: Found, the value exists, and is not free to use
        '404':
          description: Not found, the value does not exist, and is free to use
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          example: error details
    ResourceKindName:
      type: string
      enum:
      - repositoryName
      - repositoryURL
      - organizationName
      - userAlias
      description: "Resource kind name:\n  * `repositoryName` - Repository name\n  * `repositoryURL` - Repository URL\n  * `organizationName` - Organization name\n  * `userAlias` - User alias\n"
  parameters:
    ResourceKindNameParam:
      in: path
      name: resourceKind
      schema:
        $ref: '#/components/schemas/ResourceKindName'
      required: true
      description: Resource kind name
  responses:
    TooManyRequests:
      description: The user has sent too many requests in a given amount of time
    InternalServerError:
      description: The server encountered an unexpected condition that prevented it from fulfilling the request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyId:
      type: apiKey
      in: header
      name: X-API-KEY-ID
    ApiKeySecret:
      type: apiKey
      in: header
      name: X-API-KEY-SECRET
x-evidence:
  source: https://artifacthub.io/docs/api/openapi.yaml
  source_title: Artifact Hub
  source_version: 1.22.0
  harvested: '2026-08-01'
  harvest_status: HTTP 200
  server_verified: https://artifacthub.io/api/v1/stats -> HTTP 200 (2026-08-01)
  note: Harvested from the provider. Replaces a reconstructed spec that shared no paths with this document and carried no schemas.
