openapi: 3.2.0
info:
  title: Artifact Hub Packages API
  description: Find, install and publish Cloud Native packages
  version: 1.22.0
  contact:
    name: Artifact Hub support
    url: https://cloud-native.slack.com/channels/artifact-hub
servers:
- url: https://artifacthub.io/api/v1
  description: Artifact Hub production API
tags:
- name: Packages
  description: ''
paths:
  /packages/stats:
    get:
      tags:
      - Packages
      summary: Get the number of packages and releases registered
      description: Get the number of packages and releases registered
      operationId: getPackageStats
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  packages:
                    type: integer
                  releases:
                    type: integer
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/random:
    get:
      tags:
      - Packages
      summary: Get some random packages
      description: Get some random packages
      operationId: getRandomPackages
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageSummary'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/search:
    get:
      tags:
      - Packages
      summary: Search packages that meet the provided criteria
      description: Search packages that meet the provided criteria
      operationId: searchPackages
      parameters:
      - $ref: '#/components/parameters/OffsetParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/FacetsParam'
      - $ref: '#/components/parameters/TSQueryWebParam'
      - $ref: '#/components/parameters/RepositoryKindsListParam'
      - $ref: '#/components/parameters/PackageCategoryListParam'
      - $ref: '#/components/parameters/UsersListParam'
      - $ref: '#/components/parameters/OrgsListParam'
      - $ref: '#/components/parameters/RepositoriesListParam'
      - $ref: '#/components/parameters/LicensesListParam'
      - $ref: '#/components/parameters/CapabilitiesListParam'
      - $ref: '#/components/parameters/DeprecatedParam'
      - $ref: '#/components/parameters/OperatorsParam'
      - $ref: '#/components/parameters/VerifiedPublisherParam'
      - $ref: '#/components/parameters/OfficialParam'
      - $ref: '#/components/parameters/CNCFParam'
      - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: ''
          headers:
            Pagination-Total-Count:
              schema:
                type: string
              description: Total number of packages for this search
          content:
            application/json:
              schema:
                type: object
                properties:
                  packages:
                    type: array
                    items:
                      $ref: '#/components/schemas/PackageSummary'
                  facets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Facets'
              examples:
                s1:
                  value:
                    packages:
                    - package_id: a9c77b9a-2cd1-4a8f-b9e8-6b8f94e13407
                      name: artifact-hub
                      normalized_name: artifact-hub
                      logo_image_id: 0f5488e2-da57-486b-a20f-bfe746ed3e23
                      stars: 2
                      description: Artifact Hub is a web-based application that enables finding, installing, and publishing Cloud Native packages.
                      version: 0.1.0
                      app_version: 0.1.0
                      deprecated: false
                      ts: 1617098261617098268
                      repository:
                        url: http://url.com
                        kind: 0
                        name: artifact-hub
                        display_name: Artifact Hub
                        repository_id: a032a436-3568-4970-804a-2780f5e9d231
                        organization_name: artifacthub
                        organization_display_name: Artifact Hub
                        verified_publisher: true
                        official: true
                        scanner_disabled: false
                    - package_id: 3af7b6a1-adbd-41f1-ad96-e1eb3350b019
                      name: sentry-kubernetes
                      normalized_name: sentry-kubernetes
                      logo_image_id: 55f2ed75-015d-4edd-9990-11fb2ffcae9e
                      stars: 0
                      category: 4
                      description: A Helm chart for sentry-kubernetes
                      version: 0.2.3
                      app_version: latest
                      deprecated: false
                      ts: 1617098268
                      repository:
                        url: http://url.com
                        kind: 0
                        name: incubator
                        display_name: Incubator
                        repository_id: dba459d0-6beb-451a-b15a-52d67cc93fa0
                        organization_name: helm
                        organization_display_name: Helm
                        verified_publisher: false
                        official: false
                        scanner_disabled: false
                    - package_id: 0d38123f-fb60-41f0-bd00-76fb331bf7ed
                      name: etcd-operator
                      normalized_name: etcd-operator
                      logo_image_id: 5gt2ed75-015d-40dd-9990-11fb2tgcae9e
                      stars: 0
                      category: 2
                      description: CoreOS etcd-operator Helm chart for Kubernetes
                      version: 0.10.3
                      app_version: 0.9.4
                      deprecated: false
                      ts: 1617098268
                      repository:
                        url: http://url.com
                        kind: 0
                        name: stable
                        display_name: Stable
                        repository_id: 486f6d4c-9f66-11eb-a8b3-0242ac130003
                        organization_name: helm
                        organization_display_name: Helm
                        verified_publisher: false
                        official: false
                        scanner_disabled: false
                    facets:
                    - title: Organization
                      filter_key: org
                      options:
                      - id: helm
                        name: Helm
                        total: 53
                      - id: artifacthub
                        name: Artifact Hub
                        total: 1
                    - title: kind
                      filter_key: kind
                      options:
                      - id: '0'
                        name: Helm charts
                        total: 54
                    - title: Repository
                      filter_key: repo
                      options:
                      - id: stable
                        name: Stable
                        total: 16
                      - id: incubator
                        name: Incubator
                        total: 36
                      - id: artifact-hub
                        name: Artifact Hub
                        total: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/starred:
    get:
      tags:
      - Packages
      security:
      - ApiKeyId: []
        ApiKeySecret: []
      summary: Get packages starred by user
      description: Get packages starred by user
      operationId: getStarredPackagesByUser
      parameters:
      - $ref: '#/components/parameters/OffsetParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: ''
          headers:
            Pagination-Total-Count:
              schema:
                type: string
              description: Total number of starred packages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageSummary'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/argo-template/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getArgoTemplatesDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArgoTemplate'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/backstage/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getBackstagePluginsDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackstagePlugin'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/bootc/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getBootableContainersDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BootableContainer'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/container/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get container image details
      description: Get container image details
      operationId: getContainerImageDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerImage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/coredns/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getCoreDNSPluginDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoreDNSPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/falco/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getFalcoRulesDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FalcoPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/gatekeeper/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getGatekeeperPoliciesDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatekeeperPolicy'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/headlamp/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getHeadlampPluginDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeadlampPluginPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/helm/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getHelmPackageDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HelmPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/helm-plugin/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getHelmPluginDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HelmPluginPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/inspektor-gadget/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getInspektorGadgetDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InspektorGadgetPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/kagent/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getKagentPackageDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KagentPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/kcl/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getKCLPackageDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KCLPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/keda-scaler/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getKedaScalerDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KedaScalerPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/keptn/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getKeptnIntegrationsDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeptnIntegrationsPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/knative-client-plugin/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getKnativeClientPluginIntegrationsDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnativeClientPluginsPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/krew/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getKubectlPluginDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KrewPluginsPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/kubearmor/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getKubeArmorPoliciesDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KubeArmorPoliciesPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/kubewarden/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getKubewardenPoliciesDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KubewardenPoliciesPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/kyverno/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getKyvernoPoliciesDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KyvernoPolicy'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/meshery/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getMesheryDesignsDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MesheryDesign'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/opa/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getOPAPoliciesDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OPAPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/olm/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getOLMOperatorDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OLMPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/opencost/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getOpencostPluginDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpencostPlugin'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/radius/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getRadiusRecipeDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RadiusRecipe'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/tbaction/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getTinkerbellActionsDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBActionPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/tekton-pipeline/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getTektonPipelineDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TektonPipelinePackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/tekton-stepaction/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getTektonStepActionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TektonStepActionPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/tekton-task/{repoName}/{packageName}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getTektonTaskDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TektonTaskPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/argo-template/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getArgoTemplatesVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArgoTemplate'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/backstage/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getBackstagePluginsVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackstagePlugin'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/bootc/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getBootableContainersVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BootableContainer'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/container/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get container image details
      description: Get container image details
      operationId: getContainerImageVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerImage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/coredns/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package details
      description: Get package details
      operationId: getCoreDNSPluginVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoreDNSPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/falco/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getFalcoRulesVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FalcoPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/gatekeeper/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getGatekeeperPoliciesVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatekeeperPolicy'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/helm/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getHelmPackageVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HelmPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/helm-plugin/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getHelmPluginVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HelmPluginPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/headlamp/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getHeadlampVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeadlampPluginPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/inspektor-gadget/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getInspektorGadgetVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InspektorGadgetPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/kagent/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getKagentVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KagentPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/kcl/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getKCLVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KCLPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/keda-scaler/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getKedaScalerVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KedaScalerPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/keptn/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getKeptnIntegrationsVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeptnIntegrationsPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/knative-client-plugin/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getKnativeClientPluginsVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnativeClientPluginsPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/krew/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getKubectlPluginVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KrewPluginsPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/kubearmor/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getKubeArmorPoliciesVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KubeArmorPoliciesPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/kubewarden/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getKubewardenPoliciesVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KubewardenPoliciesPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/kyverno/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getKyvernoPoliciesVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KyvernoPolicy'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/meshery/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getMesheryDesignVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MesheryDesign'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/opa/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getOPAPoliciesVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OPAPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/olm/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getOLMOperatorVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OLMPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/opencost/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getOpencostPluginVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpencostPlugin'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/radius/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getRadiusRecipeVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RadiusRecipe'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/tbaction/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getTinkerbellActionsVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBActionPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/tekton-pipeline/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getTektonPipelineVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TektonPipelinePackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/tekton-stepaction/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getTektonStepActionVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TektonStepActionPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/tekton-task/{repoName}/{packageName}/{version}:
    get:
      tags:
      - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getTektonTaskVersionDetails
      parameters:
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TektonTaskPackage'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/{repoKindParam}/{repoName}/{packageName}/changelog.md:
    get:
      tags:
      - Packages
      summary: Get package's changelog in markdown format
      description: Get package's changelog in markdown format
      operationId: generateChangelogMD
      parameters:
      - $ref: '#/components/parameters/RepoKindParam'
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            text/markdown:
              schema:
                type: string
                example: '# Changelog

                  ## 1.3.0 - 2021-10-06

                  ### Added

                  - Support for Tekton pipelines

                  - Versions index to changelog modal

                  - Allow publishers to include screenshots in packages

                  - Repository metadata file is now supported in Helm OCI repositories

                  - Support for provenance files in Helm OCI repositories

                  - Changes annotation is now available for Krew plugins kind

                  - Option to show/hide stars in widget

                  - Link Helm charts dependencies to packages in the hub

                  - API endpoint for helm-exporter tool

                  ### Changed

                  - Improve Helm OCI support (include HIP 6 changes)

                  - Improve packages search results facets

                  - Bump Trivy to 0.20.0

                  - Upgrade backend and frontend dependencies

                  ### Fixed

                  - Some bugs and other improvements

                  '
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/{repoKindParam}/{repoName}/{packageName}/production-usage:
    get:
      tags:
      - Packages
      summary: Get a summary of which of the organizations the user belongs to are using the package in production
      description: Get a summary of which of the organizations the user belongs to are using the package in production
      operationId: getProductionUsage
      parameters:
      - $ref: '#/components/parameters/RepoKindParam'
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            text/markdown:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductionUsageOrganization'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/{repoKindParam}/{repoName}/{packageName}/production-usage/${orgName}:
    post:
      tags:
      - Packages
      security:
      - ApiKeyId: []
        ApiKeySecret: []
      summary: Add organization to package's production users list
      description: Add organization to package's production users list
      operationId: addProductionUsage
      parameters:
      - $ref: '#/components/parameters/RepoKindParam'
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/OrgNameParam'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
      - Packages
      security:
      - ApiKeyId: []
        ApiKeySecret: []
      summary: Delete organization from package's production usage list
      description: Delete organization from package's production usage list
      operationId: deleteProductionUsage
      parameters:
      - $ref: '#/components/parameters/RepoKindParam'
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      - $ref: '#/components/parameters/OrgNameParam'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/{repoKindParam}/{repoName}/{packageName}/summary:
    get:
      tags:
      - Packages
      summary: Get package summary details
      description: Get package summary details
      operationId: getPackageSummary
      parameters:
      - $ref: '#/components/parameters/RepoKindParam'
      - $ref: '#/components/parameters/RepoNameParam'
      - $ref: '#/components/parameters/PackageNameParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageSummary'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/{packageID}/stars:
    get:
      tags:
      - Packages
      summary: Get package stars
      description: Get package stars
      operationId: getPackageStars
      parameters:
      - $ref: '#/components/parameters/PackageIDParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  stars:
                    type: integer
                  starred_by_user:
                    type: boolean
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
      - Packages
      security:
      - ApiKeyId: []
        ApiKeySecret: []
      summary: Toggle package's star
      description: Toggle package's star
      operationId: togglePackageStar
      parameters:
      - $ref: '#/components/parameters/PackageIDParam'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/{packageID}/{version}/security-report:
    get:
      tags:
      - Packages
      summary: Get package security report
      description: Get package security report
      operationId: getPackageSecurityReport
      parameters:
      - $ref: '#/components/parameters/PackageIDParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/{packageID}/{version}/values:
    get:
      tags:
      - Packages
      summary: Get chart values
      description: Get chart values
      operationId: getChartValues
      parameters:
      - $ref: '#/components/parameters/PackageIDParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/yaml:
              schema:
                type: string
                example: "# Values\nglobal:\n  image: \"\"\n"
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/{packageID}/{version}/values-schema:
    get:
      tags:
      - Packages
      summary: Get package values schema
      description: Get package values schema
      operationId: getPackageValuesSchema
      parameters:
      - $ref: '#/components/parameters/PackageIDParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/{packageID}/changelog:
    get:
      tags:
      - Packages
      summary: Get package changelogs
      description: Get package changelogs
      operationId: getPackageChangelog
      parameters:
      - $ref: '#/components/parameters/PackageIDParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - version
                  - ts
                  - contains_security_updates
                  - prerelease
                  properties:
                    version:
                      type: string
                    ts:
                      type: integer
                    changes:
                      type: array
                      items:
                        type: object
                        required:
                        - description
                        properties:
                          description:
                            type: string
                          kind:
                            $ref: '#/components/schemas/ChangelogItemKind'
                          links:
                            type: array
                            items:
                              type: object
                              required:
                              - name
                              - url
                              properties:
                                name:
                                  type: string
                                url:
                                  type: string
                                  format: uri
                    contains_security_updates:
                      type: boolean
                    prerelease:
                      type: boolean
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/{packageID}/{version}/templates:
    get:
      tags:
      - Packages
      summary: Get the templates for a Helm chart package
      description: Get the templates for a Helm chart package
      operationId: getHelmChartTemplates
      parameters:
      - $ref: '#/components/parameters/PackageIDParam'
      - $ref: '#/components/parameters/VersionParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                - templates
                - values
                properties:
                  templates:
                    type: array
                    items:
                      type: object
                      required:
                      - name
                      - data
                      properties:
                        name:
                          type: string
                        data:
                          type: string
                          format: byte
                  values:
                    type: object
                    additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /packages/{packageID}/views:
    get:
      tags:
      - Packages
      summary: Get the views of the package provided
      description: Get the views of the package provided
      operationId: getPackageViews
      parameters:
      - $ref: '#/components/parameters/PackageIDParam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                example:
                  1.0.1:
                    '2021-12-09': 12
                    '2021-12-08': 30
                  1.0.0:
                    '2021-12-09': 2
                    '2021-12-08': 5
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  parameters:
    OperatorsParam:
      in: query
      name: operators
      schema:
        type: boolean
      required: false
      description: Whether to get only operators
    LimitParam:
      in: query
      name: limit
      schema:
        type: integer
        default: 20
        maximum: 60
      required: false
      description: The number of items to return
    VersionParam:
      in: path
      name: version
      schema:
        type: string
        example: 1.0.0
      required: true
      description: Package version
    LicensesListParam:
      in: query
      name: license
      schema:
        type: array
        items:
          type: string
        example:
        - MIT
        - Apache-2.0
      required: false
      description: List of SPDX identifiers
    OrgsListParam:
      in: query
      name: org
      schema:
        type: array
        items:
          type: string
        example:
        - org1
        - org2
      required: false
      description: List of organization names
    FacetsParam:
      in: query
      name: facets
      schema:
        type: boolean
        default: false
      required: true
      description: Whether we should get facets or not
    PackageNameParam:
      in: path
      name: packageName
      schema:
        type: string
        example: pkg1
      required: true
      description: Package name
    SortParam:
      in: query
      name: sort
      schema:
        type: string
        enum:
        - relevance
        - stars
        - last_updated
        example: relevance
      required: false
      description: Sort criteria
    OrgNameParam:
      in: path
      name: orgName
      schema:
        type: string
        example: org1
      required: true
      description: Organization name
    PackageIDParam:
      in: path
      name: packageID
      schema:
        type: string
        format: uuid
      required: true
      description: Package ID
    OffsetParam:
      in: query
      name: offset
      schema:
        type: integer
        minimum: 0
        default: 0
      required: false
      description: The number of items to skip before starting to collect the result set
    PackageCategoryListParam:
      in: query
      name: category
      schema:
        type: array
        items:
          type: integer
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
      required: false
      description: "Package category:\n  * `1` - AI / Machine learning\n  * `2` - Database\n  * `3` - Integration and delivery\n  * `4` - Monitoring and logging\n  * `5` - Networking\n  * `6` - Security\n  * `7` - Storage\n  * `8` - Streaming and messaging\n"
    CNCFParam:
      in: query
      name: cncf
      schema:
        type: boolean
      required: false
      description: Whether to get only packages published by CNCF projects
    RepoNameParam:
      in: path
      name: repoName
      schema:
        type: string
        example: repoName
      required: true
      description: Repository name
    TSQueryWebParam:
      in: query
      name: ts_query_web
      schema:
        type: string
        example: database
      required: false
      description: Text search query (websearch format)
    OfficialParam:
      in: query
      name: official
      schema:
        type: boolean
      required: false
      description: Whether to get only official repositories
    RepoKindParam:
      in: path
      name: repoKindParam
      schema:
        $ref: '#/components/schemas/RepositoryKindParam'
      required: true
      description: Package kind name
    RepositoryKindsListParam:
      in: query
      name: kind
      schema:
        type: array
        items:
          $ref: '#/components/schemas/RepositoryKind'
      required: false
      description: "Repository kind:\n  * `0` - Helm charts\n  * `1` - Falco rules\n  * `2` - OPA policies\n  * `3` - OLM operators\n  * `4` - Tinkerbell actions\n  * `5` - Krew kubectl plugins\n  * `6` - Helm plugins\n  * `7` - Tekton tasks\n  * `8` - KEDA scalers\n  * `9` - Core DNS plugins\n  * `10` - Keptn integrations\n  * `11` - Tekton pipelines\n  * `12` - Container images\n  * `13` - Kubewarden policies\n  * `14` - Gatekeeper policies\n  * `15` - Kyverno policies\n  * `16` - Knative client plugins\n  * `17` - Backstage plugins\n  * `18` - Argo templates\n  * `19` - KubeArmor templates\n  * `20` - KCL packages\n  * `21` - Headlamp plugins\n  * `22` - Inspektor gadgets\n  * `23` - Tekton stepactions\n  * `24` - Meshery designs\n  * `25` - Opencost plugins\n  * `26` - Radius recipes\n  * `27` - Bootable containers\n  * `28` - Kagent agents\n"
    DeprecatedParam:
      in: query
      name: deprecated
      schema:
        type: boolean
        default: false
      required: false
      description: Whether to include deprecated packages or not
    RepositoriesListParam:
      in: query
      name: repo
      schema:
        type: array
        items:
          type: string
        example:
        - repo1
        - repo2
      required: false
      description: List of repository names
    CapabilitiesListParam:
      in: query
      name: capabilities
      schema:
        type: array
        items:
          type: string
        example:
        - basic install
        - seamless upgrades
        - full lifecycle
        - deep insights
        - auto pilot
      required: false
      description: List of operator capability levels
    VerifiedPublisherParam:
      in: query
      name: verified_publisher
      schema:
        type: boolean
      required: false
      description: Whether to get only verified publisher
    UsersListParam:
      in: query
      name: user
      schema:
        type: array
        items:
          type: string
        example:
        - user1
        - user2
      required: false
      description: List of aliases
  schemas:
    TektonStepActionPackage:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          data:
            type: object
            properties:
              pipelines.minVersion:
                type: string
                example: 2.0.0
              manifestRaw:
                type: string
                additionalProperties:
                  type: string
                example: 'apiVersion: tekton.dev/v1beta1'
              examples:
                type: object
                additionalProperties: true
              platforms:
                type: array
                items:
                  type: string
                  example: darwin/amd64
    KyvernoPolicy:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          relative_path:
            type: string
            example: /general/allowedrepos
          data:
            type: object
            properties:
              policy:
                type: string
                example: "apiVersion: kyverno.io/v1 kind: ClusterPolicy metadata:\n  name: add-certificates-volume\n  annotations:\n    policies.kyverno.io/title: Add Certificates as a Volume\n    policies.kyverno.io/category: Sample\n    policies.kyverno.io/subject: Pod,Volume"
              kyverno/subject:
                type: string
                example: Pod, Volume
              kyverno/version:
                type: string
                example: 1.5.0
              kyverno/kubernetesVersion:
                type: string
                example: '1.21'
              kyverno/category:
                type: string
                example: OpenShift
    Error:
      type: object
      properties:
        message:
          type: string
          example: error details
    InspektorGadgetPackage:
      $ref: '#/components/schemas/Package'
    KrewPluginsPackage:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          data:
            type: object
            properties:
              platforms:
                type: array
                items:
                  type: string
                  example: darwin/amd64
              manifestRaw:
                type: string
                additionalProperties:
                  type: string
                example: 'apiVersion: krew.googlecontainertools.github.com/v1alpha2'
    PackageCategoryId:
      type: integer
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      description: "Package category:\n  * `1` - AI / Machine learning\n  * `2` - Database\n  * `3` - Integration and delivery\n  * `4` - Monitoring and logging\n  * `5` - Networking\n  * `6` - Security\n  * `7` - Storage\n  * `8` - Streaming and messaging\n"
    Facets:
      type: object
      required:
      - filter_key
      - title
      - options
      properties:
        filter_key:
          type: string
        title:
          type: string
        options:
          type: array
          items:
            type: object
            required:
            - id
            - name
            - total
            properties:
              id:
                type: string
              name:
                type: string
              total:
                type: integer
              filter_key:
                type: string
      example:
        title: Publisher
        filter_key: publisher
        options:
        - id: f41e7480-8d5c-40d3-9ba6-65ac0da8fc9c
          name: Helm
          total: 292
          filter_key: org
        - id: b771c9a8-0076-444c-ad5e-927abe14173d
          name: Artifact Hub
          total: 1
          filter_key: org
        - id: a70u69a8-0326-324c-fd3e-0iu87e14173d
          name: user1
          total: 3
          filter_key: user
    ContainerImage:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          data:
            type: object
            properties:
              platforms:
                type: array
                items:
                  type: string
                  example: darwin/amd64
              alternative_locations:
                type: array
                items:
                  type: string
                  example: public.ecr.aws/artifacthub/ah
    HeadlampPluginPackage:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          data:
            type: object
            properties:
              headlamp/plugin/archive-url:
                type: string
                example: https://headlamp.dev/sample-plugin-url
              headlamp/plugin/distro-compat:
                type: string
                example: in-cluster,web,docker-desktop
              headlamp/plugin/version-compat:
                type: string
                example: '>=1.2.3'
              headlamp/plugin/archive-checksum:
                type: string
                example: sha256:123456...
    PackageBase:
      type: object
      required:
      - package_id
      - name
      - normalized_name
      - stars
      - version
      - ts
      - repository
      properties:
        package_id:
          type: string
          format: uuid
        name:
          type: string
          example: pkg1
        normalized_name:
          type: string
          example: pkg1
        logo_image_id:
          type: string
          example: 12345abcde
        display_name:
          type: string
          example: Package 1
        description:
          type: string
          example: This is a package sample
        version:
          type: string
          example: 1.0.0
        app_version:
          type: string
          example: 0.1.0
        license:
          type: string
          example: MIT
        deprecated:
          type: boolean
          example: false
        signed:
          type: boolean
          example: false
        signatures:
          type: array
          items:
            type: string
            enum:
            - prov
            - cosign
        official:
          type: boolean
        cncf:
          type:
          - boolean
          - 'null'
        ts:
          type: integer
        repository:
          $ref: '#/components/schemas/RepositorySummary'
        security_report_summary:
          type: object
          properties:
            critical:
              type: number
            high:
              type: number
            medium:
              type: number
            low:
              type: number
            unknown:
              type: number
        all_containers_images_whitelisted:
          type: boolean
          example: false
        production_organizations_count:
          type: number
    KeptnIntegrationsPackage:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          data:
            type: object
            properties:
              keptn/version:
                type: string
                example: 0.1.0
              keptn/kind:
                type: string
                example: service,sli-provider
    OPAPackage:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          data:
            type: object
            properties:
              policies:
                type: object
                additionalProperties:
                  type: string
                example:
                  policy1: "- macro: text\n  condition: (evt.num < 0)\n"
    TBActionPackage:
      $ref: '#/components/schemas/Package'
    RadiusRecipe:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          data:
            type: object
            properties:
              recipe:
                type: object
                additionalProperties: true
    ProductionUsageOrganization:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          example: org1
        display_name:
          type: string
          example: Organization 1
        home_url:
          type: string
          format: uri
          example: http://url
        logo_image_id:
          type: string
          example: 12345abcde
        used_in_production:
          type: boolean
    MesheryDesign:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          data:
            type: object
            properties:
              design:
                type: string
                additionalProperties:
                  type: string
                example: 'name: sample'
    KubewardenPoliciesPackage:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          data:
            type: object
            properties:
              kubewarden/resources:
                type: string
                example: Pod
              kubewarden/mutation:
                type: string
                example: 'true'
    BootableContainer:
      $ref: '#/components/schemas/Package'
    ArgoTemplate:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          data:
            type: object
            properties:
              template:
                type: string
                example: "apiVersion: argoproj.io/v1alpha1 kind: WorkflowTemplate metadata:\n  annotations:\n    workflows.argoproj.io/description: This is a basic catalog example that simply\n      prints \"hello argo!\".\n    workflows.argoproj.io/maintainer: '@alexec'\n    workflows.argoproj.io/tags: example\n    workflows.argoproj.io/version: '>= 2.9.0'\n  name: hello-world"
              argo/version:
                type: string
                example: 1.5.0
    RepositoryKindParam:
      type: string
      enum:
      - helm
      - opa
      - falco
      - olm
      - tbaction
      - krew
      - helm-plugin
      - tekton-task
      - keda-scaler
      - coredns
      - keptn
      - tekton-pipeline
      - container
      - kubewarden
      - gatekeeper
      - kyverno
      - knative-client-plugin
      - backstage
      - argo-template
      - kubearmor
      - kcl
      - headlamp
      - inspektor-gadget
      - tekton-stepaction
      - meshery
      - opencost
      - radius
      - bootc
      - kagent
      description: 'Repository kind name:

        * `helm` - Helm charts

        * `falco` - Falco rules

        * `opa` - OPA policies

        * `olm` - OLM operators

        * `tbaction` - Tinkerbell actions

        * `krew` - Krew kubectl plugins

        * `helm-plugin` - Helm plugins

        * `tekton` - Tekton tasks

        * `keda-scaler` - KEDA scalers

        * `coredns` - Core DNS plugins

        * `keptn` - Keptn integrations

        * `tekton-pipeline` - Tekton pipelines

        * `container` - Container images

        * `kubewarden` - Kubewarden policies

        * `gatekeeper` - Gatekeeper policies

        * `kyverno` - Kyverno policies

        * `knative-client-plugin` - Knative client plugins

        * `backstage` - Backstage plugins

        * `argo-template` - Argo templates

        * `kubearmor` - KubeArmor policies

        * `kcl` - KCL packages

        * `headlamp` - Headlamp plugins

        * `inspektor-gadget` - Inspektor gadgets

        * `tekton-stepaction` - Tekton stepactions

        * `meshery` - Meshery designs

        * `opencost` - Opencost plugins

        * `radius` - Radius recipes

        * `bootc` - Bootable containers

        * `kagent` - Kagent agents

        '
    RepositorySummary:
      type: object
      required:
      - repository_id
      - kind
      - name
      - url
      - verified_publisher
      - official
      - scanner_disabled
      properties:
        repository_id:
          type: string
          format: uuid
        kind:
          $ref: '#/components/schemas/RepositoryKind'
        name:
          type: string
          example: repo1
        display_name:
          type: string
          example: Repository 1
        url:
          type: string
          format: uri
          example: http://repourl
        verified_publisher:
          type: boolean
        official:
          type: boolean
        cncf:
          type:
          - boolean
          - 'null'
        private:
          type: boolean
        scanner_disabled:
          type: boolean
          example: false
        user_alias:
          type: string
          example: jdoe
        organization_name:
          type: string
          example: org1
        organization_display_name:
          type: string
          example: Organization 1
    KagentPackage:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          sign_key:
            type: object
            properties:
              fingerprint:
                type: string
                example: '0011223344'
              url:
                type: string
                format: uri
                example: https://key.url
          crds:
            type: array
            items:
              type: object
              required:
              - kind
              - name
              - version
              - description
              - displayName
              properties:
                kind:
                  type: string
                name:
                  type: string
                version:
                  type: string
                description:
                  type: string
                displayName:
                  type: string
          crds_examples:
            type: array
            items:
              type: object
              additionalProperties: true
          data:
            type: object
            properties:
              apiVersion:
                type: string
                example: v2
              type:
                type: string
                example: application
              kubeVersion:
                type: string
                example: '>=1.16.0-0'
              dependencies:
                type: array
                items:
                  type: object
                  required:
                  - name
                  - version
                  - repository
                  properties:
                    name:
                      type: string
                      example: mysql
                    version:
                      type: string
                      example: 1.6.4
                    repository:
                      type: string
                      example: http://repo.url
    HelmPluginPackage:
      $ref: '#/components/schemas/Package'
    KCLPackage:
      $ref: '#/components/schemas/Package'
    Package:
      allOf:
      - $ref: '#/components/schemas/PackageBase'
      - type: object
        required:
        - repository
        - latest_version
        - available_versions
        - ts
        - has_values_schema
        - has_changelog
        - contains_security_updates
        - prerelease
        properties:
          repository:
            $ref: '#/components/schemas/RepositorySummary'
          is_operator:
            type: boolean
            example: false
          latest_version:
            type: string
            example: 2.0.0
          logo_url:
            type: string
            format: uri
            example: http://logo
          category:
            $ref: '#/components/schemas/PackageCategoryId'
          keywords:
            type: array
            items:
              type: string
            example:
            - key1
            - key2
          home_url:
            type: string
            format: uri
            example: http://home
          readme:
            type: string
            example: '###Readme'
          links:
            type: array
            items:
              $ref: '#/components/schemas/Link'
          available_versions:
            type: array
            items:
              type: object
              required:
              - version
              - contains_security_updates
              - prerelease
              - ts
              properties:
                version:
                  type: string
                  example: 1.0.0
                contains_security_updates:
                  type: boolean
                prerelease:
                  type: boolean
                ts:
                  type: integer
                  example: 1618431211
          maintainers:
            type: array
            items:
              $ref: '#/components/schemas/Maintainer'
          default_channel:
            type: string
            example: stable
          channels:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                  example: stable
                version:
                  type: string
                  example: 2.0.0
          provider:
            type: string
            example: Provider 1
          containers_images:
            type: array
            items:
              type: object
              required:
              - image
              properties:
                image:
                  type: string
                  example: url.io/name/operator:v0.2.0
                name:
                  type: string
                whitelisted:
                  type: boolean
                  example: false
          ts:
            type: integer
            example: 1552082346
          capabilities:
            type: string
            example: seamless upgrades
          security_report_created_at:
            type: integer
          has_values_schema:
            type: boolean
          has_changelog:
            type: boolean
          content_url:
            type: string
            format: uri
          contains_security_updates:
            type: boolean
          prerelease:
            type: boolean
          recommendations:
            type: array
            items:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  example: https://artifacthub.io/packages/helm/artifact-hub/artifact-hub
          stats:
            type: object
            required:
            - subscriptions
            - webhooks
            properties:
              subscriptions:
                type: integer
              webhooks:
                type: integer
    KnativeClientPluginsPackage:
      $ref: '#/components/schemas/Package'
    KubeArmorPoliciesPackage:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          data:
            type: object
            properties:
              policies:
                type: object
                additionalProperties:
                  type: string
                example:
                  system/ksc-misconfig-service.yaml: 'apiVersion: security.kubearmor.com/v1

                    kind: KubeArmorPolicy

                    '
    GatekeeperPolicy:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          relative_path:
            type: string
            example: /general/allowedrepos
          data:
            type: object
            properties:
              template:
                type: string
                example: "apiVersion: templates.gatekeeper.sh/v1 kind: ConstraintTemplate metadata:\n  name: k8sallowedrepos\n  annotations:\n    metadata.gatekeeper.sh/title: \"Kubernetes Allowed Repositories\"\n    description: >-\n      Requires container images to begin with a string from the specified list."
              examples:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    cases:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          path:
                            type: string
                          content:
                            type: string
                example:
                - name: memory-ratio-only
                  cases:
                  - name: constraint
                    path: samples/container-must-meet-ratio/constraint.yaml
                    content: 'apiVersion: constraints.gatekeeper.sh/v1beta1'
    KedaScalerPackage:
      $ref: '#/components/schemas/Package'
    ChangelogItemKind:
      type: string
      enum:
      - added
      - changed
      - deprecated
      - removed
      - fixed
      - security
      description: "Types of changes:\n  * `added` - New features\n  * `changed` - Changes in existing functionality\n  * `deprecated` - Soon-to-be removed features\n  * `removed` - Removed features\n  * `fixed` - Any bug fixed\n  * `security` - In case of vulnerabilities\n"
    BackstagePlugin:
      $ref: '#/components/schemas/Package'
    Maintainer:
      type: object
      required:
      - name
      - email
      properties:
        maintainer_id:
          type: string
          format: uuid
        name:
          type: string
          example: maintainer1
        email:
          type: string
          example: maintainer@email.com
    TektonTaskPackage:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          data:
            type: object
            properties:
              pipelines.minVersion:
                type: string
                example: 2.0.0
              manifestRaw:
                type: string
                additionalProperties:
                  type: string
                example: 'apiVersion: tekton.dev/v1beta1'
              examples:
                type: object
                additionalProperties: true
              platforms:
                type: array
                items:
                  type: string
                  example: darwin/amd64
    OLMPackage:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          crds:
            type: array
            items:
              type: object
              required:
              - kind
              - name
              - version
              - description
              - displayName
              properties:
                kind:
                  type: string
                name:
                  type: string
                version:
                  type: string
                description:
                  type: string
                displayName:
                  type: string
          crds_examples:
            type: array
            items:
              type: object
              additionalProperties: true
          data:
            type: object
            required:
            - isGlobalOperator
            properties:
              isGlobalOperator:
                type: boolean
              customResourcesDefinitions:
                type: array
                items:
                  type: object
                  required:
                  - kind
                  - name
                  - version
                  - description
                  - displayName
                  properties:
                    kind:
                      type: string
                    name:
                      type: string
                    version:
                      type: string
                    description:
                      type: string
                    displayName:
                      type: string
              customResourcesDefinitionsExamples:
                type: string
                example: "[{\"apiVersion\": v1alpha\n, \"kind\": CustomResource\n, \"spec\": {\n  \"replicas\": 1\n  }\n}}]"
    FalcoPackage:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          data:
            type: object
            properties:
              rules:
                oneOf:
                - type: array
                  items:
                    type: object
                    properties:
                      Name:
                        type: string
                      Raw:
                        type: string
                        example: "- macro: text\n  condition: (evt.num < 0)\n"
                - type: object
                  additionalProperties: true
    HelmPackage:
      allOf:
      - $ref: '#/components/schemas/Package'
      - type: object
        properties:
          sign_key:
            type: object
            properties:
              fingerprint:
                type: string
                example: '0011223344'
              url:
                type: string
                format: uri
                example: https://key.url
          crds:
            type: array
            items:
              type: object
              required:
              - kind
              - name
              - version
              - description
              - displayName
              properties:
                kind:
[...]
