openapi: 3.1.0
info:
  title: Artifact Hub API Keys Organizations API
  version: '1.0'
  description: 'Artifact Hub is a CNCF web-based application that enables finding,

    installing, and publishing cloud-native packages including Helm charts,

    OPA policies, Falco rules, OLM operators, Tekton tasks and many more.

    The HTTP API powers artifacthub.io and can be used against any self-hosted

    instance.

    '
  contact:
    name: Artifact Hub
    url: https://artifacthub.io
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://artifacthub.io
  description: Public Artifact Hub instance
tags:
- name: Organizations
  description: Organizations and memberships
paths:
  /api/v1/orgs:
    post:
      tags:
      - Organizations
      summary: Create an organization
      security:
      - cookieAuth: []
      - apiKey: []
      responses:
        '201':
          description: Created
  /api/v1/orgs/user:
    get:
      tags:
      - Organizations
      summary: List organizations the authenticated user belongs to
      security:
      - cookieAuth: []
      - apiKey: []
      responses:
        '200':
          description: OK
  /api/v1/orgs/{orgName}:
    get:
      tags:
      - Organizations
      summary: Get organization details
      parameters:
      - name: orgName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    put:
      tags:
      - Organizations
      summary: Update organization
      parameters:
      - name: orgName
        in: path
        required: true
        schema:
          type: string
      security:
      - cookieAuth: []
      - apiKey: []
      responses:
        '204':
          description: No Content
    delete:
      tags:
      - Organizations
      summary: Delete organization
      parameters:
      - name: orgName
        in: path
        required: true
        schema:
          type: string
      security:
      - cookieAuth: []
      - apiKey: []
      responses:
        '204':
          description: No Content
  /api/v1/orgs/{orgName}/members:
    get:
      tags:
      - Organizations
      summary: List members of an organization
      parameters:
      - name: orgName
        in: path
        required: true
        schema:
          type: string
      security:
      - cookieAuth: []
      - apiKey: []
      responses:
        '200':
          description: OK
  /api/v1/orgs/{orgName}/member/{userAlias}:
    post:
      tags:
      - Organizations
      summary: Add a user as a member of an organization
      parameters:
      - name: orgName
        in: path
        required: true
        schema:
          type: string
      - name: userAlias
        in: path
        required: true
        schema:
          type: string
      security:
      - cookieAuth: []
      - apiKey: []
      responses:
        '201':
          description: Created
    delete:
      tags:
      - Organizations
      summary: Remove a member from an organization
      parameters:
      - name: orgName
        in: path
        required: true
        schema:
          type: string
      - name: userAlias
        in: path
        required: true
        schema:
          type: string
      security:
      - cookieAuth: []
      - apiKey: []
      responses:
        '204':
          description: No Content
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY-ID
      description: 'API key authentication. Clients send the API key ID in the

        `X-API-KEY-ID` header and the API key secret in the

        `X-API-KEY-SECRET` header.

        '
    cookieAuth:
      type: apiKey
      in: cookie
      name: session
      description: Session cookie obtained from /api/v1/users/login
